{% extends "../partials/layout.njk" %}

{% block header %}
  {% import 'macros/header.njk' as header %}
  {{ header.active('home', strHeader) }}
{% endblock %}

{% block content %}
  {{ super() }}
  {% for item in items %}
    <article class="item">
      <h3>{{ item.title }}</h3>
      <p>{{ item.description|safe }}</p>
    </article>
  {% endfor %}

  <img src="./img/space_cataclysm_1920x1080.jpg" alt="Rein Deneut - avatar"/>
{% endblock %}